<a href="https://colab.research.google.com/github/ardyansyah5711/Teknologi-Data/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Teknologi Data/Week 4/OnlineRetail.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB