<a href="https://colab.research.google.com/github/ardyansyah5711/Teknologi-Data/blob/main/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if False:
  print("False")
else:
  print("True")

True

In [7]:
nilai1 = 10
nilai2 = 20
nilai3 = 100
total = nilai1 + nilai2 + nilai3
print(total)

130

In [8]:
cabang = ['Jakarta','Bogor','Bandung','Solo','Malang','Surabaya',
          'Banyuwangi','Denpasar','Makasar']
print(cabang)

['Jakarta', 'Bogor', 'Bandung', 'Solo', 'Malang', 'Surabaya', 'Banyuwangi', 'Denpasar', 'Makasar']

In [12]:
x = 100; y=150; z=22.56; 
hasil = x+2*y*z
print(hasil)

6868.0

In [13]:
# this is a comment
print ("Hello!")

Hello!

In [14]:
counter = 100
jarak = 104.5
name = "Ardyansyah"

a = b = c = 200
name, city, salary = "Malang", 'Surabaya', 70000

print(counter)
print(jarak)
print(name)
print(a, b, c)
print(city)

100
104.5
Malang
200 200 200
Surabaya

In [15]:
print(True or False)

print(True and False)

print ( 100 > 200)

a=9
print (a > 0 )

b= 10
print ( a > b )

True
False
False
True
False

In [17]:
x = None
print(type(x))

print(x == None)
print(x)

<class 'NoneType'>
True
None

In [18]:
nama = 'Ardyansyah'

kalimat = "This is a sentence."

Paragraf = """This is a paragraph.
Paragraph are made up of several lines and sentences."""

print(nama)
print(kalimat)
print(Paragraf)

print(nama[0:5])
print(nama[2:])
print(kalimat[-8:-1])

Ardyansyah
This is a sentence.
This is a paragraph.
Paragraph are made up of several lines and sentences.
Ardya
dyansyah
entence

In [19]:
myStr = 'Hello, Surabaya'
print(len(myStr))

pegawai = 'Sabine'
print ("nama : ", pegawai)
print("pass" + "word")

age = 35
mytext = 'Age is'
print(mytext + str(age))

print("Python " * 3)

15
nama :  Sabine
password
Age is35
Python Python Python

In [20]:
print('"Double" in Single')

print("\"Double\" in Double")

"Double" in Single
"Double" in Double

In [21]:
s = "SaMurai"
s.lower()
print(s)
s2 = s.lower()
print(s2)

name = input('What is Your name ? ')

print('Hi ' + name + '!')

SaMurai
samurai
What is Your name ? Samurai
Hi Samurai!

In [22]:
print(str(3.14))
print(int("2345"))
print(int(75.99999))
print(float("5.678"))
print(float(9))

3.14
2345
75
5.678
9.0

In [24]:
a = 10; b = 20
mylist = [1,2,3,4,5 ];

a = 2
if (a in mylist):
  print ("Line 3 a is available in the given list")
else:
  print ("Line 3 a is not available is the given list")

Line 3 a is available in the given list