<a href="https://colab.research.google.com/github/ardyansyah5711/Teknologi-Data/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Teknologi Data/Week 4/OnlineRetail.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB

In [4]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    286 non-null    object
 1   ARG     286 non-null    float64
 2   BRA     286 non-null    float64
 3   ESP     286 non-null    float64
 4   FRA     286 non-null    float64
 5   GER     286 non-null    float64
 6   ITA     286 non-null    float64
dtypes: float64(6), object(1)
memory usage: 15.8+ KB

In [6]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv", index_col="Date", parse_dates = True)
df.info()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 286 entries, 1993-08-08 to 2018-06-07
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ARG     286 non-null    float64
 1   BRA     286 non-null    float64
 2   ESP     286 non-null    float64
 3   FRA     286 non-null    float64
 4   GER     286 non-null    float64
 5   ITA     286 non-null    float64
dtypes: float64(6)
memory usage: 15.6 KB
             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

In [7]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv")
df.info()

df.set_index('Date', inplace=True)
df.info()

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    286 non-null    object
 1   ARG     286 non-null    float64
 2   BRA     286 non-null    float64
 3   ESP     286 non-null    float64
 4   FRA     286 non-null    float64
 5   GER     286 non-null    float64
 6   ITA     286 non-null    float64
dtypes: float64(6), object(1)
memory usage: 15.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 286 entries, 1993-08-08 to 2018-06-07
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ARG     286 non-null    float64
 1   BRA     286 non-null    float64
 2   ESP     286 non-null    float64
 3   FRA     286 non-null    float64
 4   GER     286 non-null    float64
 5   ITA     286 non-null    float64
dtypes: float64(6)
memory usage: 15.6+ KB
             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0