<a href="https://colab.research.google.com/github/ardyansyah5711/Teknologi-Data/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Teknologi Data/Week 4/OnlineRetail.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB

In [4]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    286 non-null    object
 1   ARG     286 non-null    float64
 2   BRA     286 non-null    float64
 3   ESP     286 non-null    float64
 4   FRA     286 non-null    float64
 5   GER     286 non-null    float64
 6   ITA     286 non-null    float64
dtypes: float64(6), object(1)
memory usage: 15.8+ KB

In [6]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv", index_col="Date", parse_dates = True)
df.info()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 286 entries, 1993-08-08 to 2018-06-07
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ARG     286 non-null    float64
 1   BRA     286 non-null    float64
 2   ESP     286 non-null    float64
 3   FRA     286 non-null    float64
 4   GER     286 non-null    float64
 5   ITA     286 non-null    float64
dtypes: float64(6)
memory usage: 15.6 KB
             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

In [7]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/fifa.csv")
df.info()

df.set_index('Date', inplace=True)
df.info()

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    286 non-null    object
 1   ARG     286 non-null    float64
 2   BRA     286 non-null    float64
 3   ESP     286 non-null    float64
 4   FRA     286 non-null    float64
 5   GER     286 non-null    float64
 6   ITA     286 non-null    float64
dtypes: float64(6), object(1)
memory usage: 15.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 286 entries, 1993-08-08 to 2018-06-07
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ARG     286 non-null    float64
 1   BRA     286 non-null    float64
 2   ESP     286 non-null    float64
 3   FRA     286 non-null    float64
 4   GER     286 non-null    float64
 5   ITA     286 non-null    float64
dtypes: float64(6)
memory usage: 15.6+ KB
             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

In [11]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Teknologi Data/Week 4/flight_delays.csv", index_col="Month")
df.info()
print(df.head())
print(df.tail())
print(df.isnull().sum())
print(df[df['US'].isnull()])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 1 to 12
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AA      12 non-null     float64
 1   AS      12 non-null     float64
 2   B6      12 non-null     float64
 3   DL      12 non-null     float64
 4   EV      12 non-null     float64
 5   F9      12 non-null     float64
 6   HA      12 non-null     float64
 7   MQ      12 non-null     float64
 8   NK      12 non-null     float64
 9   OO      12 non-null     float64
 10  UA      12 non-null     float64
 11  US      6 non-null      float64
 12  VX      12 non-null     float64
 13  WN      12 non-null     float64
dtypes: float64(14)
memory usage: 1.4 KB
             AA        AS         B6  ...        US        VX        WN
Month                                 ...
1      6.955843 -0.320888   7.347281  ...  3.107457  1.420702  3.389466
2      7.530204 -0.782923  18.657673  ...  7.114455  7.784410  3.501363
3      6.693587 -0.544731  10.741317  ...  3.330787  5.348207  3.263341
4      4.931778 -3.009003   2.780105  ...  2.660290  0.995507  2.996399
5      5.173878 -1.716398  -0.709019  ...  0.681605  7.102021  5.680777

[5 rows x 14 columns]
             AA        AS         B6  ...  US         VX        WN
Month                                 ...
8      3.193907  2.503899   9.280950  ... NaN   5.106221  5.532108
9     -1.432732 -1.813800   3.539154  ... NaN   0.070998 -1.336260
10    -0.580930 -2.993617   3.676787  ... NaN   2.254278 -0.688851
11     0.772630 -1.916516   1.418299  ... NaN   0.116370  0.995684
12     4.149684 -1.846681  13.839290  ... NaN  13.498720  6.720893

[5 rows x 14 columns]
AA    0
AS    0
B6    0
DL    0
EV    0
F9    0
HA    0
MQ    0
NK    0
OO    0
UA    0
US    6
VX    0
WN    0
dtype: int64
             AA        AS         B6  ...  US         VX         WN
Month                                 ...
7      3.870440  0.377408   5.841454  ... NaN   7.135773  10.504942
8      3.193907  2.503899   9.280950  ... NaN   5.106221   5.532108
9     -1.432732 -1.813800   3.539154  ... NaN   0.070998  -1.336260
10    -0.580930 -2.993617   3.676787  ... NaN   2.254278  -0.688851
11     0.772630 -1.916516   1.418299  ... NaN   0.116370   0.995684
12     4.149684 -1.846681  13.839290  ... NaN  13.498720   6.720893

[6 rows x 14 columns]

In [13]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Teknologi Data/Week 4/OnlineRetail.xlsx")
df.info()
print(df.isnull().any())
print(df.isnull().sum())
print(df[df['Description'].isnull()].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB
InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool
InvoiceNo          0
StockCode          0
Description      833
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     59618
Country            0
dtype: int64
     InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622     536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970    536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971    536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972    536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987    536549    85226A         NaN  ...        0.0        NaN  United Kingdom

[5 rows x 8 columns]

In [14]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Teknologi Data/Week 4/OnlineRetail.xlsx")
df.info()
print(df.isnull().any())
print(df.isnull().sum())
print(df[df['Description'].isnull()].head())
print(df[df['CustomerID'].isnull()].head())

dfcleaned = df.dropna(axis=0)

print('df: ' , len(df), '|', 'dfcleaned: ', len(dfcleaned))
print('df - dfcleaned = ' , len(df)-len(dfcleaned))

print((dfcleaned['UnitPrice']<=0.0).sum())

print(dfcleaned[dfcleaned['UnitPrice']<=0.0].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB
InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool
InvoiceNo          0
StockCode          0
Description      833
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     59618
Country            0
dtype: int64
     InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622     536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970    536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971    536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972    536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987    536549    85226A         NaN  ...        0.0        NaN  United Kingdom

[5 rows x 8 columns]
     InvoiceNo StockCode  ... CustomerID         Country
622     536414     22139  ...        NaN  United Kingdom
1443    536544     21773  ...        NaN  United Kingdom
1444    536544     21774  ...        NaN  United Kingdom
1445    536544     21786  ...        NaN  United Kingdom
1446    536544     21787  ...        NaN  United Kingdom

[5 rows x 8 columns]
df:  207719 | dfcleaned:  148101
df - dfcleaned =  59618
13
      InvoiceNo StockCode  ... CustomerID         Country
9302     537197     22841  ...    12647.0         Germany
33576    539263     22580  ...    16560.0  United Kingdom
40089    539722     22423  ...    14911.0            EIRE
47068    540372     22090  ...    13081.0  United Kingdom
47070    540372     22553  ...    13081.0  United Kingdom

[5 rows x 8 columns]

In [18]:
import pandas as pd
import numpy as np

dummydata = {"D1": [np.nan, 0.763, 0.617, 0.738, np.nan, 
                    0.716, 0.730, np.nan, 0.710, 0.546, ],
             "D2": [0.875, 0.772, 0.643, 0.542, 0.071, 0.685, 
                    np.nan, 0.209, 0.547, np.nan ]}
df = pd.DataFrame(dummydata)
print(df)

df_mean_imputed = df.fillna(df.mean())
print(df_mean_imputed)

df_median_imputed = df.fillna(df.median())
print(df_median_imputed)

df_zero_imputed = df.fillna(0)
print(df_zero_imputed)

      D1     D2
0    NaN  0.875
1  0.763  0.772
2  0.617  0.643
3  0.738  0.542
4    NaN  0.071
5  0.716  0.685
6  0.730    NaN
7    NaN  0.209
8  0.710  0.547
9  0.546    NaN
         D1     D2
0  0.688571  0.875
1  0.763000  0.772
2  0.617000  0.643
3  0.738000  0.542
4  0.688571  0.071
5  0.716000  0.685
6  0.730000  0.543
7  0.688571  0.209
8  0.710000  0.547
9  0.546000  0.543
      D1     D2
0  0.716  0.875
1  0.763  0.772
2  0.617  0.643
3  0.738  0.542
4  0.716  0.071
5  0.716  0.685
6  0.730  0.595
7  0.716  0.209
8  0.710  0.547
9  0.546  0.595
      D1     D2
0  0.000  0.875
1  0.763  0.772
2  0.617  0.643
3  0.738  0.542
4  0.000  0.071
5  0.716  0.685
6  0.730  0.000
7  0.000  0.209
8  0.710  0.547
9  0.546  0.000